<div class='row'>
  <div class='col-md-3'>
    <h2>Follower Users</h2>
    <table class = "table">
      <% if @followers.count == 0 %>
        <td>ユーザーはいません</td>
      <% else %>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @followers.each do |follow| %>
            <tr>
              <td>
                <%= attachment_image_tag follow.user, :profile_image, format: 'jpeg', fallback: "no_image.jpg", size:"50x50" %>
              </td>
              <td>
                <%= follow.user.name %>
              </td>
              <td>
                フォロー数: <%= follow.user.followings.count %>
              </td>
              <td>
                フォロワー数: <%= follow.user.followers.count %>
              </td>
              <td>
                <%= link_to 'Show', user_path(follow.user), class: "user_#{follow.user.id}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>